@import "tailwindcss";

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

/* Custom High Contrast Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
